h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

input {
  width: 272px;
  max-height: 40px;
  padding: 8px 16px;
  margin-top: 36px;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #000;
  border-radius: 4px;
  border-color: #808080;
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 120px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 24px;
}

.galleryCard {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}

.img {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.attributesList {
  padding-top: 8px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.attributesItem {
  text-align: center;
}

.attributesLabel {
  font-weight: 600;
  align-items: center;
}

.loader {
  display: none;
  margin: 0 auto;
  position: relative;
  width: 50px;
  height: 50px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.load-more {
  margin-bottom: 20px;
}
